.App {
  text-align: center;
}
.form-one {
  display: grid;
  height: 470px;
  width: 450px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin-left: 35%;
  margin-top: 5%;
  border-radius: 15px;
  border: 3px solid black;
}
.form-one h1 {
  font-style: italic;
}
input {
  height: 35px;
  width: 300px;
  border-radius: 8px;
}
.btn {
  height: 35px;
  width: 300px;
  background-color: rgb(236, 231, 229);
  border-radius: 11px;
}
.ben {
  height: 35px;
  width: 90px;
  background-color: rgb(236, 145, 145);
}
.band {
  border: 2px solid black;
  height: 200px;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 20px;
  border-radius: 50px 20px;
}
body {
  background: rgb(209, 211, 214);
}
