.App {
  text-align: center;
}
.form-one {
  display: grid;
  height: 470px;
  width: 450px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  margin-left: 35%;
  margin-top: 5%;
  border-radius: 30px;
  border: 3px solid rgb(250, 248, 248);
}
.form-one h1 {
  font-style: italic;
  text-underline-position: below;
}
input {
  height: 35px;
  width: 300px;
  border-radius: 8px;
}
.btn:hover {
  height: 35px;
  width: 300px;
  background-color: rgb(58, 26, 240);
  border-radius: 50px;
  cursor: pointer;
  color: white;
}
.ben {
  height: 35px;
  width: 90px;
  background-color: rgb(248, 246, 246);
}
.band {
  border: 2px solid black;
  height: 200px;
  width: 450px;
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  margin-top: 20px;
  border-radius: 50px 20px;
}
body {
  background: rgb(209, 211, 214);
}
